
<h1 style="text-align: center;">Adopt Don't Shop</h1></b>
<h5 style="text-align: center;"><%= link_to 'Back to All Shelters', '/shelters'%> <%= link_to 'Back to All Pets', '/pets'%><h5>
<h2 style="text-align: center;"><%= @shelter.name %></h2>
<h3><%= link_to 'Adoptable Pets', "/shelters/#{@shelter.id}/pets" %></h3>
<h3><%= link_to 'Add a Pet to Shelter', "/shelters/#{@shelter.id}/pets/new" %></h3>

<!-- <h3><%= link_to "Reviews for #{@shelter.name}", "/shelters/#{@shelter.id}/reviews" %></h3> -->

<p>Review for: <%= link_to "Reviews for #{@shelter.name}", "/shelters/#{@shelter.id}" %></p>
<% @shelter.reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <%= image_tag(review.image, width: '250px') %>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <p>Name: <%= review.user.name %></p>
<% end %>

Address: <%= @shelter.address %>
City: <%= @shelter.city %>
State: <%= @shelter.state %>
Zip: <%= @shelter.zip %>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
