<h1>Adopt Don't Shop</h1></b>


<p>Name: <%= @shelter.name %></p>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<h3><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></h3>
<h3><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></h3>
<h3><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %></h3></b>
