<h5><%= link_to 'Back to All Shelters', '/shelters'%> <%= link_to 'Back to All Pets', '/pets'%><h5>
<h2><%= @shelter.name %></h2>
<h3><%= link_to 'Adoptable Pets', "/shelters/#{@shelter.id}/pets" %></h3>
<h3><%= link_to 'Add a Pet to Shelter', "/shelters/#{@shelter.id}/pets/new" %></h3>

<!-- <h3><%= link_to "Reviews for #{@shelter.name}", "/shelters/#{@shelter.id}/reviews" %></h3> -->

<p>Review for: <%= link_to "Reviews for #{@shelter.name}", "/shelters/#{@shelter.id}" %></p>
<p><%= link_to 'Add a Review', "/shelters/#{@shelter.id}/reviews/new" %></p>
<% @shelter.reviews.each do |review| %>
  <section id="review-<%= review.id %>">
  <h2><%= review.title %></h2>
  <%= image_tag(review.image, width: '250px') %>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <p>Name: <%= review.user.name %></p>
  <h5> <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %> <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></h5>
  </section>
<% end %>

Address: <%= @shelter.address %>
City: <%= @shelter.city %>
State: <%= @shelter.state %>
Zip: <%= @shelter.zip %>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
