<h5><%= link_to 'Back to All Shelters', '/shelters'%> <%= link_to 'Back to All Pets', '/pets'%><h5>
<h2>Edit the Pet</h2><br>
  <%= form_tag "/pets/#{@pet.id}", method: 'patch' do %>
    <p>Edit the information about the #{@pet.name}:</p><br>
    <%= label_tag :image %>
    <%= text_field_tag :image, @pet.image %>
    <%= label_tag :name %>
    <%= text_field_tag :name, @pet.name %>
    <%= label_tag :approximate_age %>
    <%= text_field_tag :approximate_age, @pet.approximate_age %>
    <%= label_tag :description %>
    <%= text_field_tag :description, @pet.description %>
    <%= radio_button_tag 'gender', 'female'%>
    <%= text_field_tag :sex, @pet.sex %>
    <%= submit_tag 'Update Pet' %>
  <% end %>
