<h1 style="text-align: center;">Adopt Don't Shop</h1><br>
<h5><%= link_to 'Back to All Shelters', '/shelters' %> <%= link_to 'Back to All Pets', '/pets' %></h5>
<h2>Adoptable From: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %><h2>
<%= image_tag(@pet.image, width: '250px') %>
<p>Name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoptable: <%= @pet.adoptable %></p>
<p><%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %></p>
