<h5><%= link_to 'Back to All Shelters', '/shelters'%> <%= link_to 'Back to All Pets', '/pets'%><h5>
<p>Name: <%= @user.name %></p>
<p>Address: <%= @user.street_address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>

<h2>Manage Reviews</h2>
<% @reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <p><img src="<%= review.image %>" height="250"></p>
<% end  %>


<h2>Highlighted Reviews</h2>
<section id='highest_rated_review' >
  <h3>Highest Rated Review</h3>
  <%= @user.highest_rated_review[:title] %>
  <%= @user.highest_rated_review[:rating] %>
  <%= @user.highest_rated_review[:content] %>
  <%= @user.highest_rated_review[:image] %>
</section>

<section id='lowest_rated_review' >
  <h3>Lowest Rated Review</h3>
  <%= @user.lowest_rated_review[:title] %>
  <%= @user.lowest_rated_review[:rating] %>
  <%= @user.lowest_rated_review[:content] %>
  <%= @user.lowest_rated_review[:image] %>
</section>

<section id="average-review-score">
  <h3>My average review score: <%= @user.average_review_score %></h3>
</section>
