<p>Name: <%= @user.name %></p>
<p>Address: <%= @user.street_address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>

<h2>Manage Reviews</h2>
<% @reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <p><img src="<%= review.image %>" height="250"></p>
<% end  %>

<section id="average-review-score">
  <h3>My average review score: <%= @user.average_review_score.round(2) %></h3>
</section>
